<section class="main-section text-white py-5">
  <div class="container">
    <div class="about-content mx-auto w-100">
      <h2 class="mb-3">Welcome to <em>From Pipettes to Pipelines</em>.</h2>
      <p class="mb-4">
        <strong>This space is meant to help folks who, like me, wanted to jump into bioinformatics but didn’t know where to start.</strong>
      </p>
      <p class="mb-4">
        My career didn’t follow a straight line. I started pipetting in clinical labs and asking questions no one had time to answer. So I learned to answer them myself. I shadowed others, searched online, wrote bad code, and slowly got better.
      </p>
      <p class="mb-4">
        I earned my Master’s in Bioinformatics from Brandeis University in June 2025, graduating with a 4.0 GPA. Before that, I spent years in the wet lab, working on NGS workflows, assay development, and clinical diagnostics. My hands-on experience gave me a strong foundation in experimental biology, and my curiosity pushed me to understand the data behind it all.
      </p>
      <p class="mb-4">
        I have worked on automating high-throughput pipelines, supporting R&D assay development, and building dashboards that bridge experimental data with decision-making. Many of these tools are now used across teams to track KPIs, validate probes, and accelerate discoveries.
      </p>
      <p class="mb-4">
        My journey into bioinformatics wasn’t the result of genius. It came from persistence, mentorship, and a lot of Googling.
        I’ve contributed to patent-backed innovations, collaborated with cross-functional teams, and mentored others making
        similar transitions from bench to code.
      </p>
      <p class="mb-4">
        This site is for anyone who wants to do the same. Whether you're transitioning into computational biology, trying to learn Python, or figuring out how to make sense of sequencing data, I hope the content here helps make your path a little smoother.
      </p>
      <a href="/projects" class="btn btn-outline-light">Explore My Projects</a>
    </div>
  </div>  
</section>
